<form action='@Url.Action("CambiarContraseña","Account")' onsubmit="return verificarContraseña()">
    <input autocomplete="off" type="text" name="username" required placeholder="Ingrese nombre de usuario">
    <input autocomplete="off" type="password" id=contraseña1 required placeholder="Ingrese contraseña">
    <input autocomplete="off" type="password" id=contraseña2 name="nuevaContraseña" required placeholder="Ingrese nuevamente su contraseña">
    <input type="submit" value="Cambiar contraseña">
</form>