<form action='@Url.Action("CambiarContraseña","Account")'>
    <input autocomplete="off" type="text" name="username" required placeholder="Ingrese nombre de usuario">
    <input autocomplete="off" type="password" required placeholder="Ingrese contraseña">
    <input autocomplete="off" type="password" name="nuevaContraseña" required placeholder="Ingrese nuevamente su contraseña">
    <input type="submit" value="Cambiar contraseña">
</form>