<form action='@Url.Action("Registro","Account")' onsubmit="return verificarContraseña()">
    <input autocomplete="off" type="text" name="username" required placeholder="Ingrese nombre de usuario">
    <input autocomplete="off" type="password" name="contraseña" id="contraseña1" required placeholder="Ingrese contraseña">
    <input autocomplete="off" type="password" name="contraseña2" id="contraseña2" required placeholder="Ingrese nuevamente su contraseña">
    <input autocomplete="off" type="text" name="nombre" required placeholder="Ingrese su nombre">
    <input autocomplete="off" type="text" name="email" required placeholder="Ingrese su email">
    <input autocomplete="off" type="number" name="telefono" required placeholder="Ingrese su telefono">
    <input type="submit" value="Cargar" >

    <p id="errorIngreso"></p>
</form>